.modal {
  background-color: transparent;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  margin: auto;
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: linear-gradient(
    180deg,
    #f4f4f7 0%,
    #d8cfe6 22.4%,
    #dfbfdd 51.04%,
    #dfcef7 76.04%,
    #e8e8f3 100%
  );
  opacity: 0.9;
}
