@use "./variables" as *;

$sectionPadding: 2rem;
$subHeadingPadding: 0.5rem;

.headingSection {
  height: 80vh;
  h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 100;
  }
  .downArrow {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    p {
      font-size: 2rem;
      font-weight: 100;
      margin-bottom: -3rem;
      padding-top: 2rem;
      color: $color-primary;
      @include breakpoint(iphone8) {
        padding-top: 5rem;
      }
      @include breakpoint(iphone8plus) {
        margin-bottom: -4.5rem;
      }
    }
    a {
      color: $color-secondary;
      font-size: 6rem;
      font-weight: 800;
      text-shadow: 2px 2px 2px $color-secondary;
      @include breakpoint(iphone8plus) {
        font-size: 8rem;
      }
    }
  }
}
.newsSection,
.callToWorship,
.churchImageSection,
.beliefSection,
.whoSection,
.locationSection,
.weeklyScheculeSection,
.eventScheduleSection {
  padding-top: $sectionPadding;
  @include breakpoint(iphone8) {
    padding-top: $sectionPadding + 1rem;
  }
  h2 {
    padding-bottom: $subHeadingPadding;
  }
}
.googleLink {
  font-size: 0.825rem;
  color: $color-primary;
  padding-bottom: 2rem;
}
.weeklyScheduleSection,
.eventScheduleSection {
  table {
    margin-top: 1rem;
  }
}
